<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container p-0">
    <h1 class="h5 mb-3"></h1>
    <div class="row" style="justify-content: center;">
        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="account" role="tabpanel">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h6 class="card-title mb-0">Edit Profile</h6>
                        </div>
                        <div class="card-body">
                            <form action="/u/@{{request.user.username}}/edit" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-8">

                                        <div class="form-group col-md-6">
                                            <label for="inputFirstName">First name</label>
                                            <input type="text" class="form-control" name="inputFirstName" id="inputFirstName" placeholder="First name" value="{{request.user.first_name}}" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputLastName">Last name</label>
                                            <input type="text" class="form-control" name="inputLastName" id="inputLastName" placeholder="Last name" value="{{request.user.last_name}}">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputUsername">Biography</label>
                                            <textarea rows="3" class="form-control" name="inputBio" id="inputBio" placeholder="Tell something about yourself">{% if request.user.profile.bio %}{{request.user.profile.bio}}{% endif %}</textarea>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="inputWebsiteUrl">Website url</label>
                                            <input type="text" class="form-control" name="inputWebsiteUrl" id="inputWebsiteUrl" placeholder="WebsiteUrl" value="{% if request.user.profile.website_url %}{{request.user.profile.website_url}}{% endif %}">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputLocation">Location</label>
                                            <input type="text" class="form-control" name="inputLocation" id="inputLocation" placeholder="Location" value="{% if request.user.profile.location %}{{request.user.profile.location}}{% endif %}">
                                        </div>
                                        <!--<div class="form-group col-md-6">
                                            <label for="inputDateofBirth">Date Of Birth</label>
                                            <input type="text" class="form-control" name="inputDateofBirth" id="inputDateofBirth" placeholder="yyyy-mm-dd" value="{% if request.user.profile.date_of_birth %}{{request.user.profile.date_of_birth}}{% endif %}">
                                            <span style="font-size: small;">Display Date Of Birth on Profile <input type="checkbox" name="" id="" checked></span>
                                        </div>--> <br>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <img id="" name="" alt="Andrew Jones" src="{{request.user.profile.profile_picture.url}}" class="rounded-circle img-responsive mt-2" width="128" height="128">
                                            <div class="mt-2 form-group">
                                                <span class="btn btn-primary" style="cursor: pointer; position: relative; font-size: 12px; width: fit-content;" data-bs-target="#edit_profile_picture" data-bs-toggle="modal">
                                                    change picture
                                                    <!--<input type="file" name="inputImageUpload" id="inputImageUpload" accept="image/*" style="opacity: 0; position: absolute; left: 0; top: 0;" required>-->
                                                </span>
                                                
                                                <!--<input type="file" name="current_profile_picture" value="{{request.user.profile.profile_picture.file}}" hidden>-->
                                                <!--<span class="btn btn-primary"><i class="fa fa-upload"></i></span>-->
                                            </div>
                                            <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary" style="width: 50%;">Save changes</button>
                                <a href="/u/@{{request.user.username}}"><button type="button" class="btn btn-danger" style="width: 40%;">Cancel</button></a>
                            </form> <br>
                            

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<!--Change profile picture model-->
<div class="modal fade" id="edit_profile_picture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Change Profile Picture</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/u/@{{request.user.username}}/edit_profile_picture" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="col-md-4">
                        <div class="text-center">
                            <img id="image-preview" name="image-preview" alt="Andrew Jones" src="{{request.user.profile.profile_picture.url}}" class="rounded-circle img-responsive mt-2" width="128" height="128">
                            <div class="mt-2 form-group">
                                <span class="btn btn-primary" style="cursor: pointer; position: relative; font-size: 12px; width: fit-content;">
                                    change picture
                                    <input type="file" name="inputImageUpload" id="inputImageUpload" accept="image/*" style="opacity: 0; position: absolute; left: 0; top: 0;" required>
                                </span>
                                
                                <!--<input type="file" name="current_profile_picture" value="{{request.user.profile.profile_picture.file}}" hidden>-->
                                <!--<span class="btn btn-primary"><i class="fa fa-upload"></i></span>-->
                            </div>
                            <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="width: 100%;">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>