<!-- Modal for sending posts-->
<div class="modal fade" id="send_message_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Share</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="send">
                <div class="search_person">
                    <p>To:</p>
                    <input type="text" placeholder="Search">
                </div>
                <p>Suggested</p>
                <div class="poeple">
                    <div class="person">
                        <div class="d-flex">
                            <div class="img">
                                <img src="/static/images/profile_img.jpg" alt="">
                            </div>
                            <div class="content">
                                <div class="person">
                                    <h4>namePerson</h4>
                                    <span>zim ess</span>
                                </div>
                            </div>
                        </div>
                        <di class="circle">
                            <span></span>
                    </div>
                </div>
                <div class="person">
                    <div class="d-flex">
                        <div class="img">
                            <img src="/static/images/profile_img.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="person">
                                <h4>namePerson</h4>
                                <span>zim ess</span>
                            </div>
                        </div>
                    </div>
                    <div class="circle">
                        <span></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Send</button>
        </div>
    </div>

</div>
</div>