<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afriwallstreet - Signup</title> 
    {% include 'stylesheets.html' %}
    <style>
        /* The message box is shown when the user clicks on the password field */
        #message {
        display:none;
        background: #f1f1f1;
        color: #000;
        }

        /*#message p {
        padding: 10px 35px;
        font-size: 18px;
        }*/

        /* Add a green text color and a checkmark when the requirements are right */
        .valid {
        color: green;
        }

        /*.valid:before {
        position: relative;
        left: -35px;
        content: "?";
        }*/

        /* Add a red text color and an "x" when the requirements are wrong */
        .invalid {
        color: red;
        }

        /*.invalid:before {
        position: relative;
        left: -35px;
        content: "?";
        }*/
    </style>
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
</head>
<body>
    <div class="container">
        <div class="sign_up">
            <div class="content">

                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error !</strong>{{message}} <!--<a href="" class="alert-link" role="alert">view post</a>-->
                </div>
                {% endfor %}

                <div class="log-on border_insc">
                    <div class="logo">
                        <!--<img src="/static/images/logo.png" alt="Instagram logo">-->
                        <img src="/static/images/afri_authlogo.png" alt="">
                        <p>Pushing the Boundaries on a Global Stage.</p>
                        <button class="btn log_fac">
                            <a href="#">
                                <img src="/static/images/facebook_white.png" alt="facebook icon">
                                Log in with Facebook
                            </a>
                        </button>
                        <div class="seperator">
                            <span class="ligne"></span>
                            <span class="ou">OR</span>
                            <span class="ligne"></span>
                        </div>

                    </div>
                    <form action="/signup/" method="post">
                    {% csrf_token %}
                        <div>
                            <input type="email" name="email" id="email" placeholder="Enter your email address" autocomplete="new-password" required>
                            <span id="valid-email-message" style="width: 100%; margin-top: .25rem; font-size: .875em; color: green;"></span>
                            <span id="invalid-email-message" style="width: 100%; margin-top: .25rem; font-size: .875em; color: red;"></span>
                        </div>
                        <div>
                            <input type="text" name="firstname" id="firstname" placeholder="Enter First Name" required autocomplete="new-password">
                        </div>
                        <div>
                            <input type="text" name="lastname" id="lastname" placeholder="Enter Last Name" required autocomplete="new-password">
                        </div>
                        <div>
                            <input type="text" name="username" id="username" placeholder="Create username" autocomplete="new-password" required>
                            <span id="valid-username-message" style="width: 100%; margin-top: .25rem; font-size: .875em; color: green;"></span>
                            <span id="invalid-username-message" style="width: 100%; margin-top: .25rem; font-size: .875em; color: red;"></span>
                        </div>
                        <div>
                            <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" name="pass1" id="pass1" placeholder="Create password" autocomplete="new-password" required>
                        </div>
                        <div>
                            <input type="password" name="pass2" id="pass2" placeholder="Confirm password" autocomplete="new-password" required>
                        </div>

                        <div>
                            <div class="info"><p>Birthday</p></div>
                            <input type="date" name="bday" id="bday" required>
                        </div>

                        <!--<div id="message">
                            <p>Password must contain the following:</p>
                            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number" class="invalid">A <b>number</b></p>
                            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                        </div>--->

                        <div class="info">
                            <p>
                                People who use our service may have uploaded your contact information to Afriwallstreet. 
                                <a href="#">Learn more</a>
                            </p>
                            <p>
                                By signing up, you agree to our 
                                <a href="#">Terms, Privacy Policy and Cookies Policy.</a> 
                            </p>
                        </div>

                        <button class="log_btn" type="submit">
                            Sign Up
                        </button>
                        
                    </form>

                    <!--<a href="./home.html">
                        <button class="log_btn">
                                Sign Up
                        </button>
                    </a>-->
                </div>
                <div class="sing-in border_insc">
                    <p>
                        Have an account? 
                        <a href="/signin/">Log in</a>
                    </p>
                </div>
                <!--<div class="download">
                    <p>Get the app.</p>
                    <div>
                        <img src="/static/images/google_play_icon.png" alt="download app from google play">
                        <img src="/static/images/microsoft-icon.png" alt="download app from microsoft">
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    {% include 'scripts.html' %}
    <script src="/static/js/auth.js"></script> 
   
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> -->
</body>
</html>