<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afriwallstreet | settings</title>
{% include 'stylesheets.html' %}
<style>

</style>
</head>
<body>

    <div class="post_page">
        <!--***** nav menu start ****** -->
        {% include 'nav.html' %}
        <!--***** nav menu end ****** -->
            
            {% include 'account_settings_container.html' %}


        <!--Create model-->
        {% include 'create_post.html' %}

        {% include 'media_view.html' %}

        

    </div>

{% include 'scripts.html' %}  
</body>
</html>