<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile | @{{request.user.username}} on Afriwallstreet</title>
    {% include 'stylesheets.html' %}
</head>
<body>

    <div class="post_page">
        <!--***** nav menu start ****** -->
        {% include 'nav.html' %}
        <!--***** nav menu end ****** -->

            {% include 'edit_profile_container.html' %}


        <!--Create model-->
        {% include 'create_post.html' %}

    </div>

    {% include 'scripts.html' %}
    <script>
        function previewImage(event) {
          var reader = new FileReader();
          reader.onload = function () {
            var output = document.getElementById('image-preview');
            output.src = reader.result;
            output.class = "rounded-circle img-responsive mt-2"
            output.style.height = 128
            output.style.width = 128
            //output.style.display = "block";
          };
          reader.readAsDataURL(event.target.files[0]);
        }
        var imageUpload = document.getElementById('inputImageUpload');
        imageUpload.addEventListener('change', previewImage);
    </script>
</body>

</html>