<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afriwallstreet - Following - Posts</title>
    {% include 'stylesheets.html' %}
</head>
<body>

    <div class="post_page">
        <!--***** nav menu start ****** -->
        {% include 'nav.html' %}
        <!--***** nav menu end ****** -->

        <div class="second_container">
            <!--***** posts_container start ****** -->
            <div class="main_section">
                <div class="posts_container">
                    <div class="stories">
                        <!--<div class="owl-carousel items">
                        </div>-->
                        For you | Following
                    </div>

                    <div class="posts">
                        {% include 'post.html' %}
                    </div>

                </div>
            </div>
            <!--***** posts_container end ****** -->

            <!--***** followers_container start ****** -->
            {% include 'trends_&_suggestions.html' %}
            <!--***** followers_container end ****** -->

        </div>

        <!-- Modal for sending posts-->
        {% include 'send_post.html' %}

        <!-- Modal for add messages-->
        {% include 'comment_post.html'}

        <!--Create model-->
        {% include 'create_post.html' %}

    </div>

    {% include 'scripts.html' %}
</body>

</html>